header {
    background-color: #3C8DE1;
    padding: 10px;
}

header .logo-container {
    display: flex;
    justify-content: center;
}

header .logo-container img {
    margin: 5px;
    width: 75%;
}

header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .buttons button {
    margin: 2px;
    padding: 6px;
    background-color: #82BEFF;
    border-radius: 10px;
}

header .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .search .close-search {
    background-color: #82BEFF;
    border-radius: 10px;
    margin: 2px;
}

#search-input {
    width: 125%;
}

header .inactive {
    display: none;
}

.nav-item {
    font-family: 'Geologica', sans-serif;
    font-weight: bolder;
    background-color: #3C8DE1;
}

.nav-item:hover {
    background-color: #82BEFF;
}

.nav-item .nav-link {
    color: black;
}

.divicion {
    background-color: white;
    padding: 1px;
}

@media screen and (max-width: 767px) {
    .logo-container .logo {
        display: none;
    }
}

footer {
    background-color: #3C8DE1;
    padding-top: 20px;
}

.font-style-me1 {
    color: black;
    font-weight: bolder;
}

.medios-de-pago img {
    padding: auto;
    width: 50px;
}

.help-imput-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 190px;}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}